<?xml version="1.0"?>
<appSettings>
	<add key="webpages:Version" value="2.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />

	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<add key="SiteConfiguration.IsViewSiteList" value="false"/>
	<add key="SiteConfiguration.DefaultPageSize" value="50"/>
	<add key="SiteConfiguration.RegionStringLetterCount" value="50"/>

	<add key="Mode.IsStage" value="true"/>

	<add key="QP.BackendSidParamName" value="backend_sid"/>
	<add key="QP.HostIdParamName" value="hostUID"/>
	<add key="QP.SiteIdParamName" value="site_id"/>
	<add key="QP.CustomerCodeParamName" value="customerCode"/>

	<add key="ItemPreview.CustomActionId" value="339"/>
	<add key="ItemPreview.UrlSuffix" value=""/>
	<add key="ItemPreview.ItemIdParamName" value="itemId"/>
	<add key="ItemPreview.ChosenRegionParamName" value="chosenRegion"/>
  <add key="ItemPreview.ChosenCultureParamName" value="cultureName"/>

  <add key ="ReorderItemStep" value="10"/>

	<add key="QPSecurityChecker.IsEnabled" value="true"/>

  <add key ="CheckMappingUpdatePeriodicity" value="30"/>
  <add key ="MappingCacheTime" value="30"/>
</appSettings>
